/* HTML/CSS W2 Project
* Work in pairs
* Mark up your content with semantic html
* Lay out your page using flexbox and grid
* Test your work with Devtools.
* You can get pictures and choose custom size in the download at
* https://www.pexels.com/ 
* If you want to use a different font, get them from
* https://fonts.google.com/
*/

/* Testing your work 
== check your CSS
* uses grid
* uses flexbox
* uses at least one media query

== check your HTML
* uses semantic HTML
* has a Lighthouse Access score of 100 <-- 
* works on desktop and mobile
* works when you size the text up by 200%

== check your design
* follows the example
* you can choose your own colours and fonts if you like
* write your names at the bottom
* take a screenshot at laptop and Moto G4 device sizes in Devtools
*/

:root {
  --first-color: #bce7fd;
  --second-color: #f2f5ff;
}

* {
  box-sizing: border-box;
}

body {
  font: 100% "Poppins", sans-serif;
  background-color: var(--first-color);
  margin: 0;
}

header {
  text-align: center;
  padding: 2rem 1rem;
}

main {
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.grid-item {
  background-color: var(--second-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .grid-container {
    flex-direction: row;
    gap: 2rem;
  }

  .grid-item {
    flex: 1;
  }
}

img {
  max-width: 100%;
  display: block;
}

footer {
  position: relative;
  text-align: center;
  bottom: 10px;
}
